:root {
  --bg-email: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-testimonial: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --font-heading: "Raleway", sans-serif;
  --font-body: "Open Sans", sans-serif;

  color: var(--white);
  font-family: var(--font-heading);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: var(--bg-email);
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  padding: 1.5em;
  background: var(--bg-email);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoLink {
  width: 6em;
}

.logo {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  column-gap: 1em;
}

.navbar > li {
  list-style: none;
}

.heroImg {
  display: flex; /*If removed, there's a blank space between this and ,heroTxt*/
  padding: 2em 2em 1em;
  width: 100%;
  background: var(--bg-email);
}

main {
  text-align: center;
  padding: 0;
  margin: 0;
}

.heroDesc {
  padding: 1em 2em;
  background: var(--bg-main);
}

.heroDesc > h1 {
  margin: 0;
  font-size: 25px;
  line-height: 1.5em;
}

.heroDesc > p {
  font-family: var(--font-body);
  line-height: 1.5em;
}

.heroDesc > .cta {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  padding: 1em 6em;
  margin: 1em;
  border: none;
  border-radius: 2em;
}

.featureWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 6em 2em;
  background: var(--bg-main);
  text-align: center;
  line-height: 1.5em;
  row-gap: 5em;
}

.feat {
  /* padding: 2.5em 0; */
}

.featIcon {
  height: 6em;
  padding: 1em;
}

.featHeading {
  font-size: large;
  margin: 0;
  padding: 0.5em;
}

.featBody {
  font-size: 14px;
  margin: 0;
}
